@model AirOut.Web.Models.Warehouse_receipt
@{
    ViewBag.Title = "仓库接单 | 创建";
}
<!--回车下一个-->
<script async defer src="~/Scripts/jsext.js?date=2019013001"></script>
<!--上传-->
<script async defer src="~/Scripts/uploadify/jquery.uploadify.js"></script>

<script async defer type="text/javascript">
	//表单唯一值，防止重复提交
    var ActionGuidName = '@(ViewData["ActionGuidName"]??"")';
    var ActionGuid = '@(ViewData["ActionGuidName"] == null ? "" : (ViewData[ViewData["ActionGuidName"].ToString()] ?? ""))';
	 $(document).ready(function () {
		initJcdt(); //初始化基础数据
        initPage();//初始化页面
	});
	//初始化基础数据
    function initJcdt() {
        Data_Unit = @Html.Raw(ViewData["Data_Unit"] ?? "[]");
        Data_Currency = @Html.Raw(ViewData["Data_Currency"] ?? "[]");
        Data_Country = @Html.Raw(ViewData["Data_Country"] ?? "[]");
    }
	//初始化页面
    function initPage() {
		//////账册号
        ////$("#BOOKSNO").combogrid({
        ////    panelWidth: comgridWidth,
        ////    //panelHeight: 'auto',
        ////    fitColumns:true,
        ////    mode: 'remote',
        ////    idField: 'EMS_NO',
        ////    valueField: 'EMS_NO',
        ////    textField: 'EMS_NO',
        ////    url: '/EMS_HEADs/GetEMS_NOS',
        ////    columns: [[
        ////        { field: 'EMS_NO', title: '账册号', width: comfiledWidth },
        ////        { field: 'EMS_TYPE', title: '账册类型', width: comfiledWidth }
        ////    ]]
        ////});
	}
	//加载成功
    function onLoadSuccess(rowdata) {
        //行号自适应宽度
        $(this).datagrid("fixRownumber");
    }
	//自适应页面大小
    function MyNavResize() {
        //var opts = $("#navbar-minimalize").NavResize('getOptions');
        //opts.Auto = false;
        //opts.OnNavResizefunc = function () {
        //    
        //};
    }
	//异步获取 提取 借用账册 强行提取 选择框
    var ArrIsLoadWin ={
        //IsLoadMyWin1 : false,//提取
        //IsLoadMyWin2 : false,//借用账册
        //IsLoadMyWin3 : false,//强行提取
        //IsLoadAlertWin : false,//料号归并-项号未找到
        //IsLoadMyWin_Err : false,//项号比对异常明细
        //IsLoadImportWin : false//导入数据框
    };
    function AsyncGetMyWin(url,IsLoadMyWin,InitMyWinFucName,Async_Load){
        var AsyncLoad = false;
        if(!(typeof(Async_Load)==='undefined' || Async_Load==null ||Async_Load=="")){
            if(Async_Load)
                AsyncLoad = true;
        }
        if (!ArrIsLoadWin[IsLoadMyWin]) {
            $.messager.progress({
                text: '正在加载数据......'
            });
            var TabIndexMax = $("input[tabindex]:not([id^='_easyui']):last");
            var postObj = {};
            if(TabIndexMax.length>0){
                postObj.Num = TabIndexMax.attr('tabindex');
            }
            var retTF = true;
            $.ajax({
                type: "POST",
                datatype: "html",
                async: false,
                data: postObj,
                url: url,
                success: function (data) {
                    ArrIsLoadWin[IsLoadMyWin] = true;
                    var docm = $("#EasyUIDom");
                    if (data) {
                        docm.append(data);
                        $.parser.parse(docm);
                        //InitMyWinFuc();
                        eval(InitMyWinFucName);//js 方式
                        //$(this)[InitMyWinFucName](); //jquery方式$(this).trigger(InitMyWinFucName)
                    }
                    else
                        retTF = false;
                    $.messager.progress('close');
                },
                error: function () {
                    retTF = false;
                    $.messager.progress('close');
                }
            });
            return retTF;
        }
        else{
            return true;
        }
    }
	//导入
    function importexcel() {
        //异步获取 提取 借用账册 强行提取 选择框
        var retTF = AsyncGetMyWin('/ORDERS_SECLINE_HEADS/Get_ImportWinDialog','IsLoadImportWin',"InitImportWin()");
        if(!retTF)
            return;
        var OrderId = getQueryString("id");
        $('#file_upload_pmByhand').data('uploadifive').settings.formData = { 'ID': OrderId, 'modelType': 'ORDERS_SECLINE_PRODUCT' };
        $('#importwindow_pmByhand').window('open');
        $('#importwindow_pmByhand').window('center');
    }
	//导出
    function exportexcel() {
        //$.messager.progress({ title: '正在执行导出！' });
        //var inserted_product = $('#ProductNameMerge').datagrid('getRows');
        //if (inserted_product.length > 0) {
        //    var postdata = { orders_secline_productStr: JSON.stringify(inserted_product) };
        //    var url = '/ORDERS_SECLINE_HEADs/ExportExcelProduct';
        //    $.DownLoadProgress({
        //        url: url,         //下载文件的url
        //        method: 'Post',   //链接打开方式
        //        data: postdata,         //要发送的数据
        //        downLoadInfo: '下载文件', //下载界面文字
        //        closeDelay: 2000, //自动关闭时间(毫秒) 0则立马关闭
        //        callbackFuc: function () {
        //            $.messager.progress('close');
        //        }
        //    });
        //} else {
        //    $.messager.alert('提示！', '没有可以导出的数据。');
        //}
    }
</script>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">主页</a>
            </li>
            <li>
                <a href="#">空运出口</a>
            </li>
            <li class="active">
                <strong>创建 仓库接单</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
@using (Html.BeginForm()) 
{
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="form-group">
            <div class="col-lg-12">
                <center>
                    <button class="btn btn-white" type="reset">取消</button>
                    <button class="btn btn-primary" type="button" onclick="savewarehouse()">保存</button>
                </center>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-lg-12">
			<div id="div_Warehouse" class="easyui-panel" title="" style="padding-top:5px; padding-bottom:5px; width:auto; "
             data-options="collapsible:true">
				    @*@Html.AntiForgeryToken()*@
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					@Html.Partial("EditForm")
                    <!--表单唯一值，防止重复提交-->
                    @Html.Hidden("ActionGuidName", ViewData["ActionGuidName"] ?? "")
                    @Html.Hidden("ActionGuid", ViewData["ActionGuidName"] == null ? "" : (ViewData[ViewData["ActionGuidName"].ToString()] ?? ""))
			</div>
		</div>
	</div>
    <div class="row" hidden>
        <div class="col-lg-12">
            <div id="div_upload" class="easyui-panel" title="异常上传" style="padding-top:5px; padding-bottom:5px; width:auto;"
                 data-options="collapsible:true">
                <div class="form-group col-lg-2 col-md-2 col-sm-2">
                    <label for="DamageUpload_GUID">变形上传：</label>
                </div>
                <div class="form-group col-lg-2 col-md-2 col-sm-2">
                    <input class="easyui-validatebox" type="hidden" id="DamageUpload_GUID" name="DamageUpload_GUID" />
                    <input id="file_upload1" name="file_upload" type="file" multiple="multiple">
                    <a href="javascript:void(0)" class="easyui-linkbutton" id="btnCancelUpload" data-options="plain:true,iconCls:'icon-cancel'"
                       onclick="deletePicture()">清空</a>
                    <div id="fileQueue1" class="fileQueue"></div>
                    <div id="div_files1"></div>
                    <br />
                </div>
                <div class="form-group col-lg-8 col-md-8 col-sm-8">
                    <a class="example1" id="DamageUploadPic" href="">
                        <img src="" id="DamageUpload" alt="图片" style="max-height:200px;max-width:500px" />
                    </a>
                </div>

                <div class="form-group col-lg-12 col-md-12 col-sm-12">

                </div>

                <div class="form-group col-lg-2 col-md-2 col-sm-2">
                    <label for="DeliveryUpload_GUID">交货上传：</label>
                </div>
                <div class="form-group col-lg-2 col-md-2 col-sm-2">
                    <input class="easyui-validatebox" type="hidden" id="DeliveryUpload_GUID" name="DeliveryUpload_GUID" />
                    <input id="file_upload2" name="file_upload2" type="file" multiple="multiple">
                    <a href="javascript:void(0)" class="easyui-linkbutton" id="btnCancelUpload" data-options="plain:true,iconCls:'icon-cancel'"
                       onclick="deletePicture()">清空</a>
                    <div id="fileQueue2" class="fileQueue"></div>
                    <div id="div_files2"></div>
                    <br />
                </div>
                <div class="form-group col-lg-8 col-md-8 col-sm-8">
                    <a class="example1" id="DeliveryUploadPic" href="">
                        <img src="" id="DeliveryUpload" alt="图片" style="max-height:200px;max-width:500px" />
                    </a>
                </div>

                <div class="form-group col-lg-12 col-md-12 col-sm-12">

                </div>

                <div class="form-group col-lg-2 col-md-2 col-sm-2">
                    <label for="EntryUpload_GUID">进仓上传：</label>
                </div>
                <div class="form-group col-lg-2 col-md-2 col-sm-2">
                    <input class="easyui-validatebox" type="hidden" id="EntryUpload_GUID" name="EntryUpload_GUID" />
                    <input id="file_upload3" name="file_upload3" type="file" multiple="multiple">
                    <a href="javascript:void(0)" class="easyui-linkbutton" id="btnEntryUploadCancelUpload" data-options="plain:true,iconCls:'icon-cancel'"
                       onclick="deletePicture()">清空</a>
                    <div id="fileQueue3" class="fileQueue"></div>
                    <div id="div_files3"></div>
                    <br />
                </div>
                <div class="form-group col-lg-8 col-md-8 col-sm-8">
                    <a class="example1" id="EntryUploadPic" href="">
                        <img src="" id="EntryUpload" alt="图片" style="max-height:200px;max-width:500px" />
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
}
<!--用于后端 加载dom并且渲染成EasyUI样式-->
<div id="EasyUIDom" style="height:35px; clear:both; border:0 solid;"></div>

@section Scripts {
     <script type="text/javascript">
         var urlpic = '/Pictures/Upload?ID=' + $("#Id", "from").val();
         $(function () {

             $("#file_upload1").uploadifive({//uploadifive
                 'height': 30,
                 'fileTypeDesc': 'Image Files',
                 'fileTypeExts': '*.gif; *.jpg; *.png; *.bmp;*.tif;*.doc;*.xls;*.zip',
                 'uploadScript': urlpic,
                 'buttonText': '上传',
                 'multi': true,
                 'displayData': 'speed',
                 'formData': { 'modelType': 'Picture' },
                 'width': 120,
                 'successTimeout': 100000,
                 'onFallback': function () {
                     $.messager.alert('上传错误', '上传错误，请重试！<br>', 'error');
                     $('#file_upload').uploadifive('clearQueue')
                 },
                 'onSelect': function (queue) {
                     $.messager.progress({
                         title: '执行上传',
                         msg: '请等待...'
                     });
                 },
                 'onUpload': function (file) {
                     console.log("file:", file);
                 },
                 'onUploadComplete': function (file, data) {
                     $.messager.progress('close');
                     var data = $.parseJSON(data);
                     console.log(data);
                     if (data.Success === false) {
                         $.messager.alert('上传错误', '上传错误，请修改后再上传！<br>' + data.ErrMsg, 'error');
                         $("#file_upload").uploadifive('clearQueue')
                     } else {
                         $.messager.alert('上传完成', '上传完成！<br>', 'info');
                         $("#Attachment2").attr("src", data.filename);
                         $dg.datagrid('reload');
                     }
                     return true;
                 }
             });
             $("#file_upload2").uploadifive({//uploadifive
                 'height': 30,
                 'fileTypeDesc': 'Image Files',
                 'fileTypeExts': '*.gif; *.jpg; *.png; *.bmp;*.tif;*.doc;*.xls;*.zip',
                 'uploadScript': urlpic,
                 'buttonText': '上传',
                 'multi': true,
                 'displayData': 'speed',
                 'formData': { 'modelType': 'Picture' },
                 'width': 120,
                 'successTimeout': 100000,
                 'onFallback': function () {
                     $.messager.alert('上传错误', '上传错误，请重试！<br>', 'error');
                     $('#file_upload').uploadifive('clearQueue')
                 },
                 'onSelect': function (queue) {
                     $.messager.progress({
                         title: '执行上传',
                         msg: '请等待...'
                     });
                 },
                 'onUpload': function (file) {
                     console.log("file:", file);
                 },
                 'onUploadComplete': function (file, data) {
                     $.messager.progress('close');
                     var data = $.parseJSON(data);
                     console.log(data);
                     if (data.Success === false) {
                         $.messager.alert('上传错误', '上传错误，请修改后再上传！<br>' + data.ErrMsg, 'error');
                         $("#file_upload").uploadifive('clearQueue')
                     } else {
                         $.messager.alert('上传完成', '上传完成！<br>', 'info');
                         $("#Attachment2").attr("src", data.filename);
                         $dg.datagrid('reload');
                     }
                     return true;
                 }
             });
             $("#file_upload3").uploadifive({//uploadifive
                 'height': 30,
                 'fileTypeDesc': 'Image Files',
                 'fileTypeExts': '*.gif; *.jpg; *.png; *.bmp;*.tif;*.doc;*.xls;*.zip',
                 'uploadScript': urlpic,
                 'buttonText': '上传',
                 'multi': true,
                 'displayData': 'speed',
                 'formData': { 'modelType': 'Picture' },
                 'width': 120,
                 'successTimeout': 100000,
                 'onFallback': function () {
                     $.messager.alert('上传错误', '上传错误，请重试！<br>', 'error');
                     $('#file_upload').uploadifive('clearQueue')
                 },
                 'onSelect': function (queue) {
                     $.messager.progress({
                         title: '执行上传',
                         msg: '请等待...'
                     });
                 },
                 'onUpload': function (file) {
                     console.log("file:", file);
                 },
                 'onUploadComplete': function (file, data) {
                     $.messager.progress('close');
                     var data = $.parseJSON(data);
                     console.log(data);
                     if (data.Success === false) {
                         $.messager.alert('上传错误', '上传错误，请修改后再上传！<br>' + data.ErrMsg, 'error');
                         $("#file_upload").uploadifive('clearQueue')
                     } else {
                         $.messager.alert('上传完成', '上传完成！<br>', 'info');
                         $("#Attachment2").attr("src", data.filename);
                         $dg.datagrid('reload');
                     }
                     return true;
                 }
             });
         });
         //上传按钮点击事件
         //$("#file_upload").click(function () {
         //    var row = $dg.datagrid('getSelected');
         //    console.log("row:", row);
         //    if (row == null) {
         //        $.messager.alert("提示对话框", "上传图片必须选择一条订单！", 'info'); return false;
         //    }
         //    id = row.id;
         //});
         //清空该单已经上传的图片
         function deletePicture() {

         }
         function savewarehouse(){
             var warehousereceipt = getwarehousereceipt();
             console.log("warehousereceipt:",warehousereceipt);
             var warehousesize = getwarehousesize();
             console.log("warehousesize:",warehousesize);

             $.ajax({
                 url: '/Warehouse_receipts/SaveWarehouse',
                 type: "POST",
                 dataType: "json",
                 contentType: "application/json; charset=utf-8",
                 data: JSON.stringify({ WarehouseReceipt:warehousereceipt,WarehouseSize:warehousesize }),//JSON.stringify()
                 success: function (result) {
                     if (result.success) {
                         $.messager.alert("提示","新增成功！");
                         $(location).attr("href", "/Warehouse_receipts/Index")
                     } else {
                         alert(result.err);
                         
                     }
                 },
                 error: function (result) {
                     
                 }
             });
         }
     </script>
}
