﻿@model AirOut.Web.Models.Warehouse_Cargo_Size
@{
	//控件排序
	var Num = 1;
}
@Html.HiddenFor(model => model.Id)
    @*<div class="row">*@
        <div class="form-group col-lg-4 col-md-4 col-sm-4">
			@Html.LabelFor(model => model.Warehouse_Receipt_Id, htmlAttributes: new { @class = "control-label " })
				@Html.EditorFor(model => model.Warehouse_Receipt_Id, new { htmlAttributes = new { @class = "easyui-numberbox",data_options="required:true,precision:0",tabindex = Num++, style = "width:100%" } })
            @*@Html.ValidationMessageFor(model => model.Warehouse_Receipt_Id,"" , new { @class = "text-danger" })*@
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-4">
			@Html.LabelFor(model => model.Entry_Id, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.Entry_Id, new { htmlAttributes = new { @class = "easyui-textbox",data_options="required:true,validType:'length[0,20]'",tabindex = Num++, style = "width:100%" } })
            @*@Html.ValidationMessageFor(model => model.Entry_Id,"" , new { @class = "text-danger" })*@
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-4">
			@Html.LabelFor(model => model.CM_Length, htmlAttributes: new { @class = "control-label " })
				@Html.EditorFor(model => model.CM_Length, new { htmlAttributes = new { @class = "easyui-numberbox",data_options="required:false",tabindex = Num++, style = "width:100%" } })
            @*@Html.ValidationMessageFor(model => model.CM_Length,"" , new { @class = "text-danger" })*@
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-4">
			@Html.LabelFor(model => model.CM_Width, htmlAttributes: new { @class = "control-label " })
				@Html.EditorFor(model => model.CM_Width, new { htmlAttributes = new { @class = "easyui-numberbox",data_options="required:false",tabindex = Num++, style = "width:100%" } })
            @*@Html.ValidationMessageFor(model => model.CM_Width,"" , new { @class = "text-danger" })*@
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-4">
			@Html.LabelFor(model => model.CM_Height, htmlAttributes: new { @class = "control-label " })
				@Html.EditorFor(model => model.CM_Height, new { htmlAttributes = new { @class = "easyui-numberbox",data_options="required:false",tabindex = Num++, style = "width:100%" } })
            @*@Html.ValidationMessageFor(model => model.CM_Height,"" , new { @class = "text-danger" })*@
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-4">
			@Html.LabelFor(model => model.CM_Piece, htmlAttributes: new { @class = "control-label " })
				@Html.EditorFor(model => model.CM_Piece, new { htmlAttributes = new { @class = "easyui-numberbox",data_options="required:false",tabindex = Num++, style = "width:100%" } })
            @*@Html.ValidationMessageFor(model => model.CM_Piece,"" , new { @class = "text-danger" })*@
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-4">
			@Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "easyui-textbox",data_options="required:false",tabindex = Num++, style = "width:100%" } })
            @*@Html.ValidationMessageFor(model => model.Status,"" , new { @class = "text-danger" })*@
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-4">
			@Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "easyui-textbox",data_options="required:false,validType:'length[0,500]'",tabindex = Num++, style = "width:100%" } })
            @*@Html.ValidationMessageFor(model => model.Remark,"" , new { @class = "text-danger" })*@
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-4">
			@Html.LabelFor(model => model.OperatingPoint, htmlAttributes: new { @class = "control-label " })
				@Html.EditorFor(model => model.OperatingPoint, new { htmlAttributes = new { @class = "easyui-numberbox",data_options="required:true,precision:0",tabindex = Num++, style = "width:100%" } })
            @*@Html.ValidationMessageFor(model => model.OperatingPoint,"" , new { @class = "text-danger" })*@
        </div>
    @*</div>*@
		<!-- output all Scaffold = false Hiden field -->
	@Html.HiddenFor(model => model.ADDID)
	@Html.HiddenFor(model => model.ADDWHO)
	@Html.HiddenFor(model => model.ADDTS)
	@Html.HiddenFor(model => model.EDITWHO)
	@Html.HiddenFor(model => model.EDITTS)
	@Html.HiddenFor(model => model.EDITID)
		<!--end output all Scaffold = false Hiden field -->

