 


@model TMI.Web.Models.AirLine


 

<div class="form-horizontal">

    <div class="row">
	@Html.Hidden("Id",-1)
	<div class="col-lg-6 col-md-6 col-sm-6">
   	
			<div class="form-group">
            @Html.LabelFor(model => model.AirTicketOrderId,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                @Html.DropDownListFor(model => model.AirTicketOrderId, ViewBag.AirTicketOrderId as List<SelectListItem>,"---Select---", htmlAttributes: new { @class = "form-control" }) 
                @Html.ValidationMessageFor(model => model.AirTicketOrderId,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.AirCompany,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.AirCompany, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AirCompany,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.City,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.City,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.Flight_Date_Want,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.Flight_Date_Want, "Date" ,new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Flight_Date_Want,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.ArrivalTime,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.ArrivalTime, "Date" ,new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ArrivalTime,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.BillTaxAmount,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.BillTaxAmount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BillTaxAmount,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.SellPrice,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.SellPrice, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SellPrice,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.Profit,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.Profit, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Profit,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.Is_Endorse,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.Is_Endorse, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Is_Endorse,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.EndorseWho,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.EndorseWho, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EndorseWho,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.ReturnTicketDate,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.ReturnTicketDate, "Date" ,new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ReturnTicketDate,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.Is_Cancel,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.Is_Cancel, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Is_Cancel,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.CancelWho,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.CancelWho, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CancelWho,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.OperatingPoint,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.OperatingPoint, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OperatingPoint,"" , new { @class = "text-danger" })
            </div>
        </div>
			
         </div>
		@Html.Hidden("Id",-1)
	<div class="col-lg-6 col-md-6 col-sm-6">
   		
	        <div class="form-group">
            @Html.LabelFor(model => model.AirLineType,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.AirLineType, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AirLineType,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.Flight_No,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.Flight_No, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Flight_No,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.Position,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Position,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.TakeOffTime,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.TakeOffTime, "Date" ,new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TakeOffTime,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.TicketPrice,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.TicketPrice, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TicketPrice,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.CostMoney,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.CostMoney, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CostMoney,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.TicketNum,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.TicketNum, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TicketNum,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.Insurance,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.Insurance, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Insurance,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.EndorseDate,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.EndorseDate, "Date" ,new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EndorseDate,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.Is_ReturnTicket,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.Is_ReturnTicket, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Is_ReturnTicket,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.ReturnTicketWho,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.ReturnTicketWho, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ReturnTicketWho,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.CancelDate,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.CancelDate, "Date" ,new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CancelDate,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.Remark,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Remark,"" , new { @class = "text-danger" })
            </div>
        </div>
				
         </div>
	    
	
	</div>


		<!-- output all Scaffold = false Hiden field -->
					@Html.HiddenFor(model => model.ADDID)
					@Html.HiddenFor(model => model.ADDWHO)
					@Html.HiddenFor(model => model.ADDTS)
					@Html.HiddenFor(model => model.EDITWHO)
					@Html.HiddenFor(model => model.EDITTS)
					@Html.HiddenFor(model => model.EDITID)
				<!-- end output all Scaffold = false Hiden field -->
</div>


