﻿@model AirOut.Web.Models.CoPoKind
@{
	//控件排序
	var Num = 1;
}
@Html.HiddenFor(model => model.ID)
    @*<div class="row">*@
        <div class="form-group col-lg-3 col-md-3 col-sm-3">
			@Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "easyui-textbox",data_options="required:false,validType:'length[0,50]'",tabindex = Num++, style = "width:100%" } })
            @*@Html.ValidationMessageFor(model => model.Code,"" , new { @class = "text-danger" })*@
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-3">
			@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "easyui-textbox",data_options="required:false,validType:'length[0,100]'",tabindex = Num++, style = "width:100%" } })
            @*@Html.ValidationMessageFor(model => model.Name,"" , new { @class = "text-danger" })*@
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-3">
			@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "easyui-textbox",data_options="required:false,validType:'length[0,500]'",tabindex = Num++, style = "width:100%" } })
            @*@Html.ValidationMessageFor(model => model.Description,"" , new { @class = "text-danger" })*@
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-3">
			@Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "easyui-textbox",data_options="required:false",tabindex = Num++, style = "width:100%" } })
            @*@Html.ValidationMessageFor(model => model.Status,"" , new { @class = "text-danger" })*@
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-3">
			@Html.LabelFor(model => model.ADDWHO, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.ADDWHO, new { htmlAttributes = new { @class = "easyui-textbox",data_options="required:false,validType:'length[0,20]'",tabindex = Num++, style = "width:100%" } })
            @*@Html.ValidationMessageFor(model => model.ADDWHO,"" , new { @class = "text-danger" })*@
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-3">
			@Html.LabelFor(model => model.ADDTS, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.ADDTS, new { htmlAttributes = new { @class = "easyui-datetimebox",tabindex = Num++, style = "width:100%" } })
            @*@Html.ValidationMessageFor(model => model.ADDTS,"" , new { @class = "text-danger" })*@
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-3">
			@Html.LabelFor(model => model.EDITWHO, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.EDITWHO, new { htmlAttributes = new { @class = "easyui-textbox",data_options="required:false,validType:'length[0,20]'",tabindex = Num++, style = "width:100%" } })
            @*@Html.ValidationMessageFor(model => model.EDITWHO,"" , new { @class = "text-danger" })*@
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-3">
			@Html.LabelFor(model => model.EDITTS, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.EDITTS, new { htmlAttributes = new { @class = "easyui-datetimebox",tabindex = Num++, style = "width:100%" } })
            @*@Html.ValidationMessageFor(model => model.EDITTS,"" , new { @class = "text-danger" })*@
        </div>
    @*</div>*@

